.App {
  text-align: center;
}

.popup {
  position: sticky;
  bottom: 10px;
  left:90%;
  cursor: pointer;
  outline: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  position: absolute;
  bottom: 120%;
  left: -80%;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backImg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.navbarMore {
  top: 0;
  color: white;
  padding-right: 16%;
  font-size: 20px;
}
.container {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.item {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 5rem;
  display: block;
}
.item-1 {
  flex-grow: 0.5;
}
.item-2 {
  flex-grow: 2;
}

.lastHousesBox {
  margin-bottom: 60px;
}
.lastHouseText {
  margin-top: 50px;
  font-size: 50px;
}
.homePageStyle {
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 20px;
  align-self: center;
  width: 99%;
}
.homePageStyle > p,
cite {
  font-size: 25px;
}
.filterBox {
  float: left;
  position: sticky;
  top: 0;
  width: 19%;
  margin-left: 11%;
}
.checkboxes {
  margin-left: 60px;
  font-size: 18px;
}
.dropdownBox {
  margin-top: 25px;
  margin-left: 45px;
  font-size: 18px;
}
.filterText {
  margin-top: 30px;
  font-size: 20px;
}
.AddHouse {
  width: 80%;
  height: 100%;
  position: center;
  top: 10%;
  padding-left: 25%;
  margin-bottom: 5%;
  margin-top: 20%;
  margin-left: 5%;
}
.house3Details {
  list-style: none;
}
.houses {
  list-style: none;
  width: 80%;
  padding-top: 50px;
  margin-left: 80px;
}
.house {
  list-style: none;
  border-left: 4px solid #2ABBAC;
  margin-bottom: 40px;
  padding-left: 5px;
}
.house:hover {
  background-color: #e6f7ff;
}
.houseDetails{
  height: 100%;
  margin-left: -13px;
  border: 1px solid #333333;
}


.block-example {
  margin-bottom: 20px;
}


#carouselExampleIndicators {
  z-index: 0;
}
.FAQ{
  position: center;
  margin-top: 10%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 25%;
  padding-left: 4%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.noHouseText {
  font-size: 30px;
  margin: 50px;
  margin-bottom: 800px;
}
.house-img{
  height: 100%;
  
}
.carousel-img {
  width: 100%;
  max-height: 750px;
  background-size: cover;
}
.slide-wrapper {
  position: relative
}
@media (min-width: 768px) { 
  .filter-block {
      position: absolute;
      bottom: 0;
      
      align-content: center;
      width: 100%;
  }
}
.addHouse{
  position: sticky;
  width: 80%;
  height: 100%;
  position: center;
  top: 15%;
  padding-left: 2%;
  margin-bottom: 15%;
  margin-top: 5%;
  margin-left: 10%;
  bottom: 5%;}

  .housesDiv{
    min-height: 800px;
    margin-right: 2%;
  }
  .contactForm{
    margin-left: 15%;
    margin-right: 15%;
  }
  .dropdownStyle{
    margin-right: 40px;
  }
  #housetitle{
    font-size: xx-large;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }


  #locationInput{
    color: white;
    outline-color: white;
  }

  #locationbox{
    margin-right: 5px;
  }

  #minpricebox{
    margin-right: 5px;
  }

  #maxpricebox{
    margin-right: 5px;
  }
  .DVtitles{
    border-left: 5px solid #2ABBAC;
    padding-left: 5px;
    border-bottom: 1px solid #2ABBAC;
  }
  #DVimage{
    margin-bottom:3%;
    margin-top:3%;
    background-color: #cccccc;
    width:100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
  }

  #minpricefield, #maxpricefield, #locationfield, #locationAC{
    font-size:18px;
  }

  #radiogroup{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
 

  #roundedpill{
    margin-bottom: 45px;
    height: 100%;
    padding: 18px;
    border:2px solid black;
    background: rgba(255,255,255,0.88);
    
  }

  #filterbox{
    width: 67.6%;
    margin-left: 16%;
    align-content: center;
  }
  .containerAdd{ 
    border-radius: 5px;
    background-color: #e0faee;   
    padding-left:7% ;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 25%;
    margin-top: 2%;
    
  }
  .form{
    line-height: 10;
    font-size: 20px;